.CartEmpty {
    padding: 15%;
}

.ShoppingCart {
    padding-top: 10%;
    width: 90%;
    display: grid;
    grid-template:
    "ItemImg, ItemName, ItemPrice, MinusBtn, PlusBtn, RemoveBtn"
}

table td {
    width: 10%;
    padding: 20px;
}
.MinusBtn,
.PlusBtn {
    background-color: black; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.RemoveBtn,
.EmptyBtn {
    background-color: red; 
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.PayBtn {
    background-color: limegreen; 
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.PayLink {
        text-decoration: none;
        color: white;
}

.PayBtn,
.EmptyBtn,
.TotalPrice {
    margin: 10px 0px 20px 0px;
}

.TotalPrice {
    margin-top: 20px;
}
.ItemImg {
    height: 6rem;
    width: 100;
}

