#homePageMain {
  margin-top:50px;
  display: grid;
  grid-template-areas:
    "a c"
    "b c";
  background-color: mistyrose;
  margin-bottom: 40px;
  border-radius: 40px;
}
#homePageMain > h2 {
  grid-area: a;
}
#homePageMain > p {
  grid-area: b;
}
#homePageMain > img {
  grid-area: c;
  border-radius:  0px 40px;
}
#homePageSecond {
  display: grid;
  grid-template-areas:
    "c a"
    "c b";
  background-color: mistyrose;
  border-radius: 0px 0px 40px 40px;
}
#homePageSecond:hover {
  transition: ease-in 0.4s;
 background-color: rgba(0, 0, 0, 0.115);
 box-shadow: 0px 0px 6px 3px #b0b0b0;
 border-radius: 0px 0px 40px 40px;
}

h2, a {
  grid-area: a;
 text-decoration: none;
}
#homePageSecond > p, a {
  grid-area: b;
}
#homePageSecond > img {
  grid-area: c;
  border-radius: 0px 40px 0px 40px;
}
#homePageAll {
  width: 60%;
  margin: auto;
}
.homePageTextBox h2 {
  align-self: flex-end;
}
.homePageTextBox p {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
