#SingleProductMain {
  display: grid;
  grid-template-areas:
    "a b"
    "a c"
    "a d";
  padding-left: 220px;
  padding-right: 220px;
}
#SingleProductName {
  color: black;
  grid-area: b;
  align-self: flex-end;
}
#SingleProductDesc {
  grid-area: c;
  padding-bottom: 0%;
}
#SingleProductImg {
  grid-area: a;
  margin: auto;
  width: 700px;
}
#SingleProduct-to-cart-btn {
  grid-area: d;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
